# JWT
JWT_ISSUER=bodyfriend-fams
WORKTHROUGH_SECRET_KEY=WorkthrouthSSOToken^%@#&A3812_129273023_12978130A
FAMS_SECRET_KEY=bodyfriendFamsSecretKey-bodyfriendFamsSecretKey-bodyfriendFamsSecretKey
ACCESS_TOKEN_EXPIRY=43200000
REFRESH_TOKEN_EXPIRY=1209600000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# App
APP_ENV=dev
APP_PORT=8001
